<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <services>
            <service behaviorConfiguration="ThrottledServicesBehavior" name="RawXmlMessagesExample.Services.ComplexService">
                <endpoint address="basic" binding="basicHttpBinding" name="ComplexService_http" bindingConfiguration="BasicHttpBinding_ComplexService"
                    bindingNamespace="http://PawelSzczygielski/v1_0/RawXmlMessageExampleService"
                    contract="RawXmlMessagesExample.Services.IComplexService" />
                <endpoint address="mex" binding="mexHttpBinding" name="ComplexService_mex"
                    bindingNamespace="http://PawelSzczygielski/v1_0/RawXmlMessageExampleService"
                    contract="RawXmlMessagesExample.Services.IComplexService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:6789/PawelSzczygielski/v1_0/RawXmlMessageExampleService" />
                    </baseAddresses>
                </host>
            </service>
        </services>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ComplexService" />
            </basicHttpBinding>
        </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="ThrottledServicesBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
</configuration>