<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ComplexService_http" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="ComplexService_mex">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:6789/PawelSzczygielski/v1_0/RawXmlMessageExampleService/basic"
                binding="basicHttpBinding" bindingConfiguration="ComplexService_http"
                contract="RemoteComplexService.IComplexService" name="ComplexService_http" />
            <endpoint address="http://localhost:6789/PawelSzczygielski/v1_0/RawXmlMessageExampleService/mex"
                binding="wsHttpBinding" bindingConfiguration="ComplexService_mex"
                contract="RemoteComplexService.IComplexService" name="ComplexService_mex" />
        </client>
    </system.serviceModel>
</configuration>